.logo {
    height: 2rem;
    margin-bottom: 1rem;
}

/* Utility spacing */

.mt-1 {
    margin-top: 0.5rem;
}
.mt-2 {
    margin-top: 1rem;
}
.mt-3 {
    margin-top: 1.5rem;
}

.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.gap-sm {
    gap: 0.5rem;
}
.gap-md {
    gap: 1rem;
}
.gap-lg {
    gap: 1.5rem;
}

/* Highlight selected buttons */

.btn.btn-primary {
    border: none;
}
